<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
    <properties>
        <property id="LOG_HOME">c:/logs</property>
        <property id="LOG_LEVEL">debug</property>
        <property id="PATTENR">** [%-5level] ** %d{yyyy-MM-dd HH:mm:ss} %C.%M(L:%L)%n>>%msg%n</property>
    </properties>
    <appenders>
        <Console id="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTENR}"/>
        </Console>
        <RollingFile id="dc" fileName="${LOG_HOME}/dc/dc.log"
                     filePattern="${LOG_HOME}/alicloud/$${date:yyyy-MM}/alicloud-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${PATTENR}"/>
            <SizeBasedTriggeringPolicy size="2 MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root action_level="debug">
            <appender-ref ref="Console"/>
        </root>
        <logger id="com.aps.bayes.dc.*" action_level="${LOG_LEVEL}" additivity="true">
            <appender-ref ref="dc"/>
        </logger>
    </loggers>
</configuration>